@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
/* base styles */
* {
  margin: 0;
  font-family: "Noto Sans KR";
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: left;
  max-width: 1200px;
  margin: 0 auto;
  border-bottom: 2px solid #f2f2f2;
}

.navbar h1 {
  color: #181E27;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  color: #333;
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #181E27;
}

.content {
  max-width: 100%;
  margin: 40px auto;
}

.home-lower {
  margin-top: 380px;
  max-width: 100%;
  max-height: 800px;
  background-color: #181E27;
  padding-bottom: 80px;
}

.home-lower content {
  align-items: center;
  color: white;
}

.home-lower p {
  color: white;
  max-width: 1200px;
  padding-top: 80px;
  padding-bottom: 40px; 
  font-size: larger;
  line-height: 2.5;
  text-align: center;
}

.contact {
  background-color: rgba(91, 91, 91, 0.384);
  padding: 40px;
  max-width: 100%;
  max-height: 200px;
  margin-bottom: 0;
}

.contact p {
  text-align: center;
  font-size: small;
}

/* .home-lower button {
  background: #7b95bfba;
  font-size: x-large;
  color: #fff;
  border: 0;
  padding: 20px;
  border-radius: 3px;
  cursor: pointer;
  display: inline-flex;
  margin: 10%;
} */

.button-row {
  margin: 0 auto; 
  width: 656px; 
  text-align: center
}

.divider {
  width: 50px;
  height:auto;
  display:inline-block;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #1717B4;
  margin-bottom: 8px;
}
.blog-preview a{
  text-decoration: none;
}

.about-me div {
  margin: 20px 0;
}

.about-me p {
  padding-top: 75px;
  padding-right: 100px;
  font-size: large;
  line-height: 2;
}

.about-me br {
  height: 20px;
}

.about-me button {
  background: #181E27;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.projects p {
  color: #181E27;
  max-width: 1200px;
  padding-top: 0;
  padding-bottom: 290px; 
  font-size: x-large;
  line-height: 2.5;
  text-align: center;
}

.project-card p {
  color: #181E27;
  max-width: auto;
  padding-top: 5px;
  padding-bottom: 0; 
  font-size: medium;
  line-height: 1.5;
  text-align: left;
}

/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: #1717B4;
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}
.blog-details button {
  background: #1717B4;
  color: #fff;
  border: 2;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

