@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
/* base styles */
* {
  margin: 0;
  font-family: "Noto Sans KR";
  color: #333;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: left;
  max-width: 1200px;
  margin: 0 auto;
  border-bottom: 2px solid #f2f2f2;
}

.navbar h1 {
  color: #1717B4;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #1717B4;
}

.content {
  max-width: 100%;
  margin: 40px auto;
}


/* .video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  padding: none;
} */

.home-lower {
  margin-top: 380px;
  max-width: 100%;
  height: 1000px;
  background-color: #181E27;
  margin-bottom: 0;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #1717B4;
  margin-bottom: 8px;
}
.blog-preview a{
  text-decoration: none;
}

.about-me div {
  margin: 20px 0;
}

.about-me p {
  padding: 50px;
  font-size: large;
  line-height: 2;
}

.about-me button {
  background: #1717B4;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: #1717B4;
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}
.blog-details button {
  background: #1717B4;
  color: #fff;
  border: 2;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

